body {
    background-color: rgb(135, 200, 241);
    /* background-image: url("sunny.png");
    background-repeat: no-repeat;
    background-position: 120% 60%; */

    /* background-image: url("cloudy.png");
    background-repeat: no-repeat;
    background-position: 100% 10%;
    background-size: 35% 100%; */
}

#webTitle{
    font-size: 35pt;
    font-weight: lighter;
    border-bottom: 2pt solid;
}

#search {
    margin: 10pt;
}

#container {
    display: flex;
    justify-content: space-between;
}

#prettyResults {
    border: 2pt solid;
}

#city, h2, p {
    text-align: center;
}
